<h1>Sign In</h1>
<%= flash.now[:errors] %>
<form action="<%= session_url %>" method="post" accept-charset="utf-8">
	
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">
	
<label for="email">Email</label>
<input type="text" name="user[email]" value="<%= @user.email %>" id="email">
<label for="password">Password</label>
<input type="password" name="user[password]" value="" id="password">
	

<%= link_to "Forgot Password?", users_forgot_url %>


<p><input type="submit" value="Sign In &rarr;"></p>
</form>